*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #FAF9FB;
  font-family: arial;
}
.logo{
  margin-top: 50px;
  width:90px;
}
.layerone{
  display: flex;
  width:60% auto;
  height:55vh;
  align-items: center;
}
.left{
  flex:1;
  margin-left: 30px;
}
.middle{
  flex:1;
}
.right{
  flex:1;
  margin-right:-120px;
}
.middle h2{
  font-size: 70px;
  color:black;
  font-weight: 800;
  font-family: tahoma;
}
.middle p{
  font-size: 14px;
  color:#5f5f69;
  font-weight: 500;
  margin-top: 30px;
  font-family:sans-serif;
}
button{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.download{
  background: #075E89;
  border-radius:50px;
  width:140px;
  color:white;
  padding:10px;
  font-size: 14px;
  margin-right:12px;
  border:none;
}
.what{
  background: #3C068D;
  border-radius:50px;
  width:100px;
  color:white;
  padding:10px;
  font-size: 14px;
  border:none;
}
.btn{
  margin-left: 70px;
  margin-top: 40px;
}
.layertwo{
  display: flex;
  height:50vh;
  align-items: center;
  margin-left:50px;
}
.one{
  flex:1;
}
.two{
  flex:1;
}
.three{
  flex:1;
}
.four{
  flex:1;
  border-radius: 10px;
}
.one img{
  width:400px;
  border-radius: 10px;
}
.two img{
  width:400px;
  border-radius: 10px;
}
.three img{
  width:400px;
  border-radius: 10px;
}
.four img{
  width:400px;
  border-radius: 10px;
}
center h3{
color:#075E89;
font-size: 20px;
font-weight: 450;
font-family: impact;
}
center h4{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 800;
font-size: 22px;
color: black;
margin-top: 15px;
}
center p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 14px;
  color:#5f5f69;
  margin-top: 15px;
}
.layer3{
  display: flex;
  margin:30px 30px 0px 50px;
  background: #075E89;
}

.layer3 img{
 opacity: 0.2;
 width:100%;
 border-radius: 18px;
}